/*css document*/
body{
    background-color:#6259ac;
    
}

h1{
    text-align: center;
    color: white;
    /* font-size: 55px; */
    
}
.pera{
    text-align: center;
    color: white; 
}
 .btn{
    margin-left:45%;
    background-color:#6259ac;
    border: 2px solid;
    border-color: white;
    font-size: 20px;
    padding:10px;
    color: white;
    margin-top: 10px;     
}
img{
    height: 310px; 
    margin-left: 5%;
    padding-top: 10%;
}

.plate{
    margin-left:12%;
    text-align: center;
    font-size:19px;
    color:white;
    display: flex;
    width: 12%;

}

 
 .u{ 
    font-size: 15px;
    color: #9d92ec;

} 

.h5{
    font-size: 25px;
}

.d{
    margin-right: 40%; 

}

.p{
    
    margin-right: 40%;

    
    
}

.m{
    
    margin-right: 40%;

    
} 

